@import 'tailwindcss';

@source './static/**/*.html';

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open-sans/open-sans-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open-sans/open-sans-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open-sans/open-sans-italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/roboto-mono/roboto-mono-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/roboto-mono/roboto-mono-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/roboto-mono/roboto-mono-italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@theme {
    --breakpoint-*: initial;
    --breakpoint-xs: 480px;
    --breakpoint-sm: 624px;
    --breakpoint-md: 768px;
    --breakpoint-md-lg: 896px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;

    --color-gruvbox-fg: #ebdbb2;
    --color-gruvbox-bg0: #282828;
    --color-gruvbox-bg2: #504945;
    --color-gruvbox-bg3: #665c54;
    --color-gruvbox-gray: #928374;

    --font-mono: "Roboto Mono", "Consolas", "Courier New", sans-serif;
}

:root {
    --index-page-width: 64rem;
    --profile-pic-size: 16rem;
    --sm-breakpoint: 624px;
    --xs-to-sm-about-me-width: calc(var(--sm-breakpoint) - var(--profile-pic-size) - 3rem);

    --background-color: #282828;
    --border-color: #504945;
    --scrollbar-thumb-color: #928374;

    /* Fallback for browsers without dvh support */
    /*noinspection CssOverwrittenProperties*/
    --page-height: calc(100vh - 2 * 1rem);
    /*noinspection CssOverwrittenProperties*/
    --page-height: calc(100dvh - 2 * 1rem);

    --page-padding-x: 0.5rem;

    --tab-gap: 16px;
    --tab-border-width: 2px;
    --tab-border-radius: calc(var(--tab-gap) / 2 + var(--tab-border-width));
    --tab-padding-y: 0.25rem;
    /*
     * We use synthetic :before and :after elements for the rounded corner effect on the active tab,
     * and these need z-index to display on top of each other in the correct order.
     */
    --tab-z-index-low: 1;
    --tab-z-index-mid: 2;
    --tab-z-index-high: 3;

    /* #282828 in RGB (need this for the rgba funcion for fade-in effect). */
    --bg0-rgb: 40, 40, 40;
}

@layer base {
    * {
        /*
        Includes padding + border in an element's width/height values,
        see https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing to read more
        */
        box-sizing: border-box;
    }

    html {
        /* Always show scrollbar (to avoid layout shifts when changing tabs) */
        overflow-y: scroll;
    }

    body {
        font-family: "Open Sans", sans-serif;

        /* Scrollbar customization in Firefox - Chrome/Safari use -webkit-scrollbar below */
        scrollbar-color: var(--scrollbar-thumb-color) var(--background-color);
    }

    body::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    body::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color);
    }

    body::-webkit-scrollbar-track {
        background: var(--background-color);
    }

    a {
        text-decoration: underline;
    }

    ul {
        @apply list-disc pl-6;
    }

    ol {
        @apply list-decimal pl-6;
    }

    ul ul,
    ol ul {
        @apply list-[circle] pl-8;
    }

    ol ol,
    ul ol {
        @apply list-[lower-latin] pl-8;
    }

    svg {
        max-width: 100%;
        max-height: 100%;
    }

    p {
        /*
        Disables Font Boosting in Chrome for Android, for consistent font sizes.
        Suggested workaround from WebKit ticket: https://bugs.webkit.org/show_bug.cgi?id=84186#c17
        */
        max-height: 1000000px;
    }
}

.half-border-background {
    background: linear-gradient(180deg, var(--border-color) 67%, var(--background-color) 33%);
}

.lift-on-hover:hover {
    transform: translateY(-4px);
}

nav {
    border-bottom: 3px solid var(--border-color);
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    display: flex;
}

/* Inspired by: https://css-tricks.com/tabs-with-round-out-borders/ */
.tabs {
    float: left;
    display: flex;
    gap: var(--tab-gap);
    font-size: var(--text-lg);
    padding: 0;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

.tabs li {
    position: relative;
    z-index: var(--tab-z-index-high);
}

.tabs li:first-child {
    margin-left: var(--tab-gap);
}

.tabs li:last-child {
    margin-right: var(--tab-gap);
}

.tabs a {
    /* We want all tabs be have equal width. This value is the width of the widest tab. */
    width: 7.25rem;
    padding: var(--tab-padding-y) 1rem var(--tab-padding-y) 1rem;

    display: block;

    text-align: center;
    text-decoration: none;

    border-left-width: var(--tab-border-width);
    border-top-width: var(--tab-border-width);
    border-right-width: var(--tab-border-width);
    border-color: var(--border-color);

    border-top-left-radius: var(--tab-gap);
    border-top-right-radius: var(--tab-gap);

    /* Show focus outline on top of border, to avoid the outline being cut off. */
    outline-offset: calc(-1 * var(--tab-border-width));
}

.tabs li[aria-selected="true"] a {
    font-weight: bold;
    background: var(--border-color);
}

.tabs li[aria-selected="true"]:before,
.tabs li[aria-selected="true"]:after,
.tabs li[aria-selected="true"] a:before,
.tabs li[aria-selected="true"] a:after {
    position: absolute;
    bottom: 0;
    content: "";
}

.tabs li[aria-selected="true"]:before,
.tabs li[aria-selected="true"]:after {
    z-index: var(--tab-z-index-low);
    width: var(--tab-border-radius);
    height: var(--tab-border-radius);
    background: var(--border-color);
}

.tabs li[aria-selected="true"]:before {
    left: calc(-1 * var(--tab-border-radius));
}

.tabs li[aria-selected="true"]:after {
    right: calc(-1 * var(--tab-border-radius));
}

.tabs li[aria-selected="true"] a:after, .tabs li[aria-selected="true"] a:before {
    z-index: var(--tab-z-index-mid);
    width: var(--tab-gap);
    height: var(--tab-gap);
    border-radius: calc(var(--tab-gap) / 2);
    background: var(--color-gruvbox-bg0);
}

.tabs li[aria-selected="true"] a:before {
    left: calc(-1 * var(--tab-gap));
}

.tabs li[aria-selected="true"] a:after {
    right: calc(-1 * var(--tab-gap));
}

.fade-in-left, .fade-in-right {
    position: absolute;
    /*
     * We want fade-in elements to have same height as the tabs, so that the fade covers the tabs
     * vertically. We get the height as follows:
     * - Tabs use font size `text-lg`
     * - Multiply with line height (1.5) to get the height of the text
     * - Add vertical tab padding (x2 for top + bottom)
     * - Add tab border width (x1: tabs only have top border - nav element handles bottom border)
     */
    height: calc(var(--text-lg) * 1.5 + var(--tab-padding-y) * 2 + var(--tab-border-width));
    /* To allow the tabs to still be scrolled behind the fade effect. */
    pointer-events: none;
    fill: var(--color-gruvbox-gray);
    /* Higher z-index than tabs. */
    z-index: calc(var(--tab-z-index-high) + 1);
    display: flex;
    align-items: stretch;
}

.fade-in-left {
    left: 0;
    padding-right: 2rem;
    background: linear-gradient(
        270deg,
        rgba(var(--bg0-rgb), 0) 0%,
        rgba(var(--bg0-rgb), 0.75) 25%,
        rgba(var(--bg0-rgb), 0.9) 50%,
        rgba(var(--bg0-rgb), 1) 75%
    );
}

.fade-in-right {
    right: 0;
    padding-left: 2rem;
    background: linear-gradient(
        90deg,
        rgba(var(--bg0-rgb), 0) 0%,
        rgba(var(--bg0-rgb), 0.75) 25%,
        rgba(var(--bg0-rgb), 0.9) 50%,
        rgba(var(--bg0-rgb), 1) 75%
    );
}

.fade-in-left button, .fade-in-right button {
    /* Override pointer-events: none from fade-in-left/fade-in-right */
    pointer-events: all;
    height: 100%;
    width: calc(2rem + var(--page-padding-x));
    display: flex;
    align-items: center;
}

.fade-in-left button {
    /** Add button padding = page padding, so users can click scroll button on edge of screen. */
    padding-left: var(--page-padding-x);
    justify-content: start;
}

.fade-in-right button {
    /** Add button padding = page padding, so users can click scroll button on edge of screen. */
    padding-right: var(--page-padding-x);
    justify-content: end;
}

/* Arrow icons inside scroll buttons. */
.fade-in-left button > *, .fade-in-right button > * {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}
