@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --index-page-width: 64rem;
  --about-me-width: 48rem;
  --profile-pic-size: calc(var(--index-page-width) - var(--about-me-width));
  --sm-breakpoint: 624px;
  --xs-to-sm-about-me-width: calc(var(--sm-breakpoint) - var(--profile-pic-size) - 3rem);

  --background-color: #282828;
  --border-color: #504945;
  --scrollbar-thumb-color: #928374;

  /* Fallback for browsers without dvh support */
  --page-height: calc(100vh - 2 * 1rem);
  --page-height: calc(100dvh - 2 * 1rem);
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/roboto-mono.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/roboto-mono-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/roboto-mono-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

* {
  /*
  Includes padding + border in an element's width/height values,
  see https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing to read more
  */
  box-sizing: border-box;
}

body {
  /* Scrollbar customization in Firefox - Chrome/Safari use -webkit-scrollbar below */
  scrollbar-color: var(--scrollbar-thumb-color) var(--background-color);
  scrollbar-width: 0.5rem;
}
body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}
body::-webkit-scrollbar-track {
  background: var(--background-color);
}

a {
  text-decoration: underline;
}

ul {
  @apply list-disc pl-6;
}
ol {
  @apply list-decimal pl-6;
}
ul ul,
ol ul {
  @apply list-[circle] pl-8;
}
ol ol,
ul ol {
  @apply list-[lower-latin] pl-8;
}

.half-border-background {
  background: linear-gradient(180deg, var(--border-color) 67%, var(--background-color) 33%);
}

.lift-on-hover:hover {
  transform: translateY(-4px);
}

p {
  /*
  Disables Font Boosting in Chrome for Android, for consistent font sizes.
  Suggested workaround from WebKit ticket: https://bugs.webkit.org/show_bug.cgi?id=84186#c17
  */
  max-height: 1000000px;
}
