<!doctype html>
<html lang="en-US">
  {{- template "head.html.tmpl" .Meta -}}
  <body
    class="mb-4 ml-[var(--content-margin)] mr-[var(--content-margin)] mt-4 flex min-h-[var(--page-height)] max-w-[var(--content-width)] flex-col gap-4 bg-gruvbox-bg0 font-main text-[15px] leading-[normal] text-gruvbox-fg"
  >
    <h1 class="flex justify-center text-3xl font-bold"><a href="/">hermannm.dev</a></h1>

    {{ .Content }}

    {{ template "footer.html.tmpl" .Meta.Common }}
  </body>
</html>
