<!doctype html>
<html lang="en-US">
{{ template "head.html.tmpl" .Meta -}}
<body
    class="mx-auto mb-4 mt-4 flex min-h-(--page-height) max-w-2xl flex-col gap-4 bg-gruvbox-bg0 px-(--page-padding-x) leading-[normal] text-gruvbox-fg"
>
<header>
  <h1 class="flex justify-center text-2xl font-bold">
    <a href="/">{{ .Meta.Common.SiteName }}</a>
  </h1>
</header>

<main>
  {{ .Content }}
</main>

{{ template "footer.html.tmpl" .Meta.Common }}
</body>
</html>
