<!DOCTYPE html>
<html lang="en-US">
  {{- template "head.html.tmpl" .Meta -}}
  <body class="content-width-body column large-gap">
    <h1 class="row justify-center no-margin"><a href="/">hermannm.dev</a></h1>

    {{ .Content }}

    {{ template "footer.html.tmpl" .Meta.Common }}
  </body>
</html>
