<!doctype html>
<html lang="en-US">
  {{- template "head.html.tmpl" .Meta -}}
  <body
    class="mb-4 ml-[var(--page-margin)] mr-[var(--page-margin)] mt-4 flex min-h-[var(--page-height)] max-w-[var(--page-width)] flex-col gap-4 bg-gruvbox-bg0 font-main text-[15px] leading-[normal] text-gruvbox-fg"
  >
    <div class="flex flex-col items-center gap-4 xs:flex-row">
      <div
        class="flex flex-col gap-4 xs:min-w-[var(--xs-header-text-width)] xs:max-w-[var(--xs-header-text-width)] sm:min-w-0 sm:max-w-none"
      >
        <h1 class="m-0 flex flex-row justify-center text-3xl font-bold">{{ .Meta.Page.Title }}</h1>
        <p class="mb-0 mt-0 max-w-[var(--content-width)] pl-1 pr-1">
          {{ .AboutMe }}
        </p>
        <ul
          class="mb-0 mt-0 grid list-none grid-cols-2 place-items-center gap-4 pl-0 md:grid-cols-4"
        >
          {{- range $infoField := .PersonalInfo }}
            {{- if $infoField.Link }}
              <li>
                <a class="flex items-center gap-2" href="{{ $infoField.Link }}" target="_blank">
                  <img
                    class="h-[16px] w-[16px]"
                    width="16"
                    height="16"
                    src="{{ $infoField.IconPath }}"
                    alt
                  />
                  <div class="w-min text-center">
                    {{ personalInfoTextWrapping $infoField.Text }}
                  </div>
                </a>
              </li>
            {{- else }}
              <li class="flex items-center gap-2">
                <img
                  class="h-[16px] w-[16px]"
                  width="16"
                  height="16"
                  src="{{ $infoField.IconPath }}"
                  alt
                />
                <div class="w-min text-center">
                  {{ personalInfoTextWrapping $infoField.Text }}
                </div>
              </li>
            {{- end -}}
          {{ end }}
        </ul>
      </div>
      <div>
        <picture>
          <source
            media="(max-width: 480px)"
            width="{{ .ProfilePictureMobile.Width }}"
            height="{{ .ProfilePictureMobile.Height }}"
            srcset="{{ .ProfilePictureMobile.Path }}"
          />
          <source
            media="(min-width: 481px)"
            width="{{ .ProfilePictureDesktop.Width }}"
            height="{{ .ProfilePictureDesktop.Height }}"
            srcset="{{ .ProfilePictureDesktop.Path }}"
          />
          <img
            class="h-full w-full rounded-lg border-4 border-solid border-gruvbox-bg2 xs:h-[var(--profile-pic-size)] xs:max-w-full xs:object-cover sm:w-[var(--profile-pic-size)] sm:max-w-none"
            src="{{ .ProfilePictureDesktop.Path }}"
            alt="{{ .ProfilePictureDesktop.Alt }}"
          />
        </picture>
      </div>
    </div>

    {{ range $projectGroup := .ProjectGroups }}
      <h2 class="text-center text-lg font-bold">{{ $projectGroup.Title }}</h2>

      <ul class="m-0 flex list-none flex-wrap justify-center gap-4 pl-0">
        {{- range $project := $projectGroup.Projects }}
          <li class="basis-full xs:basis-[calc(50%-0.5rem)] md:basis-[calc(100%/3-1rem*2/3)]">
            <a
              class="project-banner no-underline hover:border-gruvbox-bg3 hover:bg-gruvbox-bg3"
              href="/{{ $project.Slug }}"
            >
              <img
                width="50"
                height="50"
                src="{{ $project.IconPath }}"
                alt="{{ $project.IconAlt }}"
              />
              <div class="grow">{{ $project.Name }}</div>
            </a>
          </li>
        {{- end }}
      </ul>
    {{ end }}

    {{ template "footer.html.tmpl" .Meta.Common }}
  </body>
</html>
