<!doctype html>
<html lang="en-US">
{{ template "head.html.tmpl" .Meta -}}
<body
    class="mb-4 mx-auto px-(--page-padding-x) mt-4 flex min-h-(--page-height) max-w-(--index-page-width) flex-col gap-4 bg-gruvbox-bg0 text-gruvbox-fg"
>
<header class="flex flex-col items-center gap-4 xs:flex-row">
  <div
      class="flex flex-col gap-4 xs:min-w-(--xs-to-sm-about-me-width) xs:max-w-(--xs-to-sm-about-me-width) sm:min-w-0 sm:max-w-none"
  >
    <h1 class="m-0 flex flex-row justify-center text-3xl font-bold">
      {{- .Meta.Page.Title -}}
    </h1>
    <!-- Extensive media queries to get desired line breaks at certain widths -->
    <p class="mb-0 mt-0 pl-1 xs:pr-1 min-[1006px]:pr-2 min-[1010px]:pr-3 min-[1014px]:pr-4 min-[1018px]:pr-6">
      {{- .AboutMe -}}
    </p>
    <ul
        class="mb-0 mt-0 grid list-none grid-cols-2 place-items-center gap-4 pl-0 md:grid-cols-4"
    >
      {{- range $infoField := .PersonalInfo }}
        {{- if $infoField.Link }}
          <li>
            <a class="flex items-center gap-2" href="{{ $infoField.Link }}" target="_blank">
              <div class="flex h-4 w-4 items-center justify-center" aria-hidden="true">
                {{ $infoField.Icon }}
              </div>
              <div class="w-min text-center">
                {{- personalInfoTextWrapping $infoField.LinkText -}}
              </div>
            </a>
          </li>
        {{- else }}
          <li class="flex items-center gap-2">
            <div class="flex h-4 w-4 items-center justify-center" aria-hidden="true">
              {{ $infoField.Icon }}
            </div>
            <div class="w-min text-center">
              {{- personalInfoTextWrapping $infoField.LinkText -}}
            </div>
          </li>
        {{ end -}}
      {{ end }}
    </ul>
  </div>
  <div>
    <picture>
      <source
          media="(max-width: 479px)"
          width="{{ .ProfilePictureMobile.Width }}"
          height="{{ .ProfilePictureMobile.Height }}"
          srcset="{{ .ProfilePictureMobile.Path }}"
      />
      <source
          media="(min-width: 480px)"
          width="{{ .ProfilePictureDesktop.Width }}"
          height="{{ .ProfilePictureDesktop.Height }}"
          srcset="{{ .ProfilePictureDesktop.Path }}"
      />
      <img
          class="h-full w-full rounded-lg border-2 border-solid border-gruvbox-bg2 xs:h-(--profile-pic-size) xs:max-w-full xs:object-cover sm:w-(--profile-pic-size) sm:max-w-none"
          src="{{ .ProfilePictureDesktop.Path }}"
          alt="{{ .ProfilePictureDesktop.Alt }}"
      />
    </picture>
  </div>
</header>

{{ $defaultProjectGroup := index .ProjectGroups 0 }}

<nav class="mt-2 md-lg:mt-0">
  <div id="tabs-scroll-left" class="fade-in-left">
    <button aria-label="Scroll left" class="w-6 h-full">
      <span aria-hidden="true" class="w-full h-6">
        {{ $arrowLeft := index .Icons "arrow-left" }}
        {{ $arrowLeft.RenderedIcon }}
      </span>
    </button>
  </div>

  <ul class="tabs" role="tablist">
    {{ range $projectGroup := .ProjectGroups }}
      {{ $isDefault := eq $projectGroup.Slug $defaultProjectGroup.Slug }}
      <li
          id="{{ $projectGroup.Slug }}-tab"
          role="tab"
          aria-controls="{{ $projectGroup.Slug }}-tabpanel"
          aria-selected="{{ if $isDefault }}true{{ else }}false{{ end }}"
      >
        <a href="{{ if $isDefault }}#{{ else }}#{{ $projectGroup.Slug }}{{ end }}">
          <h2>{{- $projectGroup.Title -}}</h2>
        </a>
      </li>
    {{ end }}
  </ul>

  <div id="tabs-scroll-right" class="fade-in-right">
    <button aria-label="Scroll right" class="w-8 h-full flex justify-end items-center">
      <span aria-hidden="true" class="w-6 h-6 block">
        {{ $arrowRight := index .Icons "arrow-right" }}
        {{ $arrowRight.RenderedIcon }}
      </span>
    </button>
  </div>
</nav>

<main>
  {{ range $projectGroup := .ProjectGroups }}
    <div id="{{ $projectGroup.Slug }}-tabpanel"
         role="tabpanel"
         aria-labelledby="{{ $projectGroup.Slug }}-tab"
         {{ if ne $projectGroup.Slug $defaultProjectGroup.Slug }}hidden{{ end }}
         class="flex flex-col gap-4 {{ if not $projectGroup.IntroText }}mt-3{{ end }}"
    >
      {{ if $projectGroup.IntroText -}}
        <div class="flex justify-center mb-2">
          <p class="max-w-204 text-center">{{ $projectGroup.IntroText }}</p>
        </div>
      {{- end }}

      <ul class="m-0 flex list-none flex-wrap justify-center gap-6 pl-0">
        {{- range $project := $projectGroup.Projects }}
          <li
              class="md-lg:basis-[calc(100%/3-1rem)] basis-full rounded-lg border-2 border-solid border-gruvbox-bg2 duration-100 lift-on-hover sm:basis-[calc(50%-0.75rem)]"
          >
            <a class="flex h-full flex-col items-center no-underline" href="{{ $project.Path }}">
              <div class="half-border-background w-full pb-1 pt-1">
                {{ if $project.Logo.Path }}
                  <img
                      class="mx-auto max-w-[60px] rounded-lg"
                      width="60"
                      height="60"
                      src="{{ $project.Logo.Path }}"
                      alt="{{ $project.Logo.AltText }}"
                  />
                {{ else }}
                  <div class="mx-auto h-[40px] flex justify-center">
                    {{ $project.IndexPageFallbackIcon }}
                  </div>
                {{ end }}
              </div>
              <div class="flex grow flex-col items-center gap-1 pb-2 pl-2 pr-2 text-center">
                <h3 class="text-lg font-bold font-mono">{{ $project.Name }}</h3>
                <p class="flex min-h-12 grow items-center no-underline">
                  {{ $project.TagLine }}
                </p>
              </div>
            </a>
          </li>
        {{- end }}
      </ul>
    </div>
  {{ end }}
</main>

{{ template "footer.html.tmpl" .Meta.Common }}

<script>
  const defaultProjectGroupHash = "{{ $defaultProjectGroup.Slug }}";

  // If page is loaded with a hash, switch to that tab
  selectTabFromURLHash(location.hash?.replace("#", "") || defaultProjectGroupHash);

  // Whenever hash changes, switch tab
  window.addEventListener("hashchange", (event) => {
    const newURL = new URL(event.newURL);

    selectTabFromURLHash(newURL.hash?.replace("#", "") || defaultProjectGroupHash);

    // The default tab will have hash '#', but we don't want to show that in the URL
    if (!newURL.hash || newURL.hash === "#") {
      window.history.replaceState({}, "", event.newURL.replace("#", ""));
    }
  });

  /** @param {string} newHash */
  function selectTabFromURLHash(newHash) {
    const currentTab = document.querySelector(".tabs")?.querySelector(`[aria-selected="true"]`);
    if (!currentTab) {
      return;
    }

    const currentTabHash = currentTab.id.replace("-tab", "");
    if (newHash === currentTabHash) {
      return;
    }

    const currentTabPanel = document.getElementById(`${currentTabHash}-tabpanel`);

    const newTab = document.getElementById(`${newHash}-tab`);
    const newTabPanel = document.getElementById(`${newHash}-tabpanel`);

    if (newTab && newTabPanel) {
      newTab.ariaSelected = "true";
      newTabPanel.removeAttribute("hidden");
      currentTab.ariaSelected = "false";
      currentTabPanel.setAttribute("hidden", "true");
    }
  }

  const navElement = document.querySelector("nav");
  const tabsScrollLeftElement = document.getElementById("tabs-scroll-left");
  const tabsScrollRightElement = document.getElementById("tabs-scroll-right");

  showOrHideTabScrollButtons();
  navElement.addEventListener("scroll", showOrHideTabScrollButtons);
  window.addEventListener("resize", showOrHideTabScrollButtons);

  tabsScrollLeftElement.querySelector("button").addEventListener("click", scrollToLeftEnd);
  tabsScrollRightElement.querySelector("button").addEventListener("click", scrollToRightEnd);

  function showOrHideTabScrollButtons() {
    const scrollWidth = navElement.scrollWidth;
    const elementWidth = navElement.offsetWidth;
    const canScroll = scrollWidth > elementWidth;
    const scrollLeft = navElement.scrollLeft;

    console.log({ scrollWidth, elementWidth, scrollLeft });

    if (canScroll && scrollLeft !== 0) {
      tabsScrollLeftElement.removeAttribute("hidden");
    } else {
      if (!tabsScrollLeftElement.hasAttribute("hidden")) {
        tabsScrollLeftElement.setAttribute("hidden", "true");
      }
    }

    if (canScroll && scrollLeft !== (scrollWidth - elementWidth)) {
      tabsScrollRightElement.removeAttribute("hidden");
    } else {
      if (!tabsScrollRightElement.hasAttribute("hidden")) {
        tabsScrollRightElement.setAttribute("hidden", "true");
      }
    }
  }

  function scrollToLeftEnd() {
    navElement.scrollLeft = 0;
  }

  function scrollToRightEnd() {
    navElement.scrollLeft = (navElement.scrollWidth - navElement.offsetWidth);
  }
</script>
</body>
</html>
