<!doctype html>
<html lang="en-US">
  {{- template "head.html.tmpl" .Meta -}}
  <body
    class="mx-auto mb-4 mt-4 flex min-h-[var(--page-height)] max-w-2xl flex-col gap-4 bg-gruvbox-bg0 px-2 font-main text-gruvbox-fg"
  >
    <h1 class="flex justify-center text-2xl font-bold"><a href="/">hermannm.dev</a></h1>

    <div class="flex flex-col gap-3">
      <div
        class="flex h-[calc(2*6px+60px)] items-center gap-3 rounded-lg border-[6px] border-solid border-gruvbox-bg2 bg-gruvbox-bg2 font-bold"
      >
        {{- if .Project.IconPath -}}
          <img
            class="max-w-[60px] rounded-lg"
            width="60"
            height="60"
            src="{{ .Project.IconPath }}"
            alt="{{ .Project.IconAlt }}"
          />
        {{- end -}}
        <h2 class="text-xl [&:first-child]:ml-1">{{ .Project.Name }}</h2>
      </div>

      {{- template "project_info.html.tmpl" .Project -}}
    </div>

    {{ template "footer.html.tmpl" .Meta.Common }}
  </body>
</html>
