<!doctype html>
<html lang="en-US">
  {{- template "head.html.tmpl" .Meta -}}
  <body
    class="mx-auto mb-4 mt-4 flex min-h-[var(--page-height)] max-w-3xl flex-col gap-4 bg-gruvbox-bg0 px-2 text-gruvbox-fg"
  >
    <h1 class="flex justify-center text-2xl font-bold">
      <a href="/">{{ .Meta.Common.SiteName }}</a>
    </h1>

    <div class="flex flex-col gap-3">
      <div
        class="flex h-[calc(2*6px+60px)] items-center gap-3 rounded-lg border-[6px] border-solid border-gruvbox-bg2 bg-gruvbox-bg2 font-bold"
      >
        {{- if .Project.LogoPath -}}
          <img
            class="max-w-[60px] rounded-lg"
            width="60"
            height="60"
            src="{{ .Project.LogoPath }}"
            alt="{{ .Project.LogoAlt }}"
          />
        {{- end -}}
        <h2 class="text-xl [&:first-child]:ml-1">{{ .Project.Name }}</h2>
      </div>

      <div class="flex flex-col gap-4 pl-1 pr-1">
        {{- $techStackLength := len .Project.TechStack -}}
        {{- if ge $techStackLength 2 -}}
          <div class="flex flex-col gap-1 leading-[normal]">
            <strong>{{ .Project.TechStackTitle }}:</strong>
            <ul class="flex list-none flex-col gap-1 pl-0">
              {{- range $technology := .Project.TechStack }}
                <li class="flex flex-wrap gap-x-2 gap-y-1">
                  {{- template "techStackItem" $technology }}
                </li>
              {{- end }}
            </ul>
          </div>
        {{- else if eq $techStackLength 1 }}
          {{- $technology := index .Project.TechStack 0 -}}
          <div class="flex flex-wrap gap-2">
            <strong>{{ .Project.TechStackTitle }}:</strong>
            {{- template "techStackItem" $technology -}}
          </div>
        {{- end }}

        {{- .Project.Description -}}


        <div class="flex flex-col gap-1">
          {{- range $linkGroup := .Project.LinkGroups }}
            {{- $linkGroupLength := len $linkGroup.Links -}}
            {{- if ge $linkGroupLength 2 -}}
              <div class="flex flex-col gap-1 leading-[normal]">
                <strong>{{ $linkGroup.Title }}:</strong>
                <ul class="flex list-none flex-col gap-1 pl-0">
                  {{- range $linkItem := $linkGroup.Links }}
                    <li class="flex">
                      {{- template "linkItem" $linkItem -}}
                    </li>
                  {{- end }}
                </ul>
              </div>
            {{- else if eq $linkGroupLength 1 }}
              {{ $linkItem := index $linkGroup.Links 0 }}
              <div class="flex flex-wrap gap-x-2 gap-y-0">
                <strong>{{ $linkGroup.Title }}:</strong>
                {{- template "linkItem" $linkItem -}}
              </div>
            {{- end }}
          {{- end -}}
        </div>

        {{ if .Project.Footnote }}
          <em>{{ .Project.Footnote }}</em>
        {{ end }}
      </div>
    </div>

    {{ template "footer.html.tmpl" .Meta.Common }}
  </body>
</html>

{{- define "techStackItem" }}
  {{- template "linkItem" . -}}
  {{- $usedWithLength := len .UsedWith -}}
  {{- if eq $usedWithLength  0 -}}
    {{- if .UsedFor -}}
      ({{ .UsedFor }})
    {{- end -}}
  {{- else if eq $usedWithLength 1 -}}
    {{- $usedWith := index .UsedWith 0 -}}
    (
    {{- if .UsedFor -}}
      {{- .UsedFor -}},
      {{- " " -}}
    {{- end -}}
    with
    <div class="flex gap-0">
      {{- template "linkItem" $usedWith -}}
      )
    </div>
  {{- else -}}
    (
    {{- if .UsedFor -}}
      {{- .UsedFor -}},
      {{- " " -}}
    {{- end -}}
    with
    {{- range $index, $usedWith := .UsedWith -}}
      {{- $indexPlus1 := plus1 $index -}}
      {{- if eq $usedWithLength $indexPlus1 -}}
        and
        <div class="flex gap-0">
          {{- template "linkItem" $usedWith -}}
          )
        </div>
      {{- else -}}
        {{- if ne $index 0 -}},{{- end -}}
        {{- template "linkItem" $usedWith -}}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{ define "linkItem" }}
  {{ if .Icon -}}
    <a class="flex items-center gap-1" href="{{ .Link }}" target="_blank">
      <div class="flex h-4 w-4 items-center justify-center" aria-hidden="true">{{ .Icon }}</div>
      <code class="break-all">{{ .Text }}</code>
    </a>
  {{- else -}}
    <a href="{{ .Link }}" target="_blank">
      {{ .Text }}
    </a>
  {{- end }}
{{ end }}
