<footer>
  <div>Found an issue with the site?</div>
  <a class="row align-center small-gap" href="{{ .GitHubIssuesLink }}" target="_blank">
    Report it on GitHub
    <img class="icon" width="16" height="16" src="{{ .GitHubIconPath }}" alt />
  </a>
</footer>
