<footer class="mt-auto flex flex-wrap justify-center gap-x-2 gap-y-1 pt-12 text-center">
  <div>Found an issue with the site?</div>
  <a class="flex items-center gap-1" href="{{ .GitHubIssuesLink }}" target="_blank">
    Report it on GitHub
    <img class="h-[16px] w-[16px]" width="16" height="16" src="{{ .GitHubIconPath }}" alt />
  </a>
</footer>
